[user]
	name = # Name
	email = # Email
[alias]
	a = "!git status --short | peco | awk '{print $2}' | xargs git add"
	am = commit --amend
	ame = commit --amend --no-edit
  	d = diff
  	co = checkout
	cb = checkout -b
	ci = commit
	ca = commit -a
	ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
	pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
	st = status
	sts = status --short
	br = branch
	ba = branch -a
	bm = branch --merged
	bn = branch --no-merged
	fh = "!git fetch origin/$1"
	rb = "!git rebase $1"
	rbi = "!git rebase --interactive $1"
	df = "!git hist | peco | awk '{print $2}' | xargs -I {} git diff {}^ {}"
	hist = log --pretty=format:\"%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%C(reset)\" --graph --date=relative --decorate --all
	llog = log --graph --name-status --pretty=format:\"%C(red)%h %C(reset)(%cd) %C(green)%an %Creset%s %C(yellow)%d%Creset\" --date=relative
	open = "!hub browse"
	type = cat-file -t
	dump = cat-file -p
	find = "!f() { git log --pretty=format:\"%h %cd [%cn] %s%d\" --date=relative -S'pretty' -S\"$@\" | peco | awk '{print $1}' | xargs -I {} git diff {}^ {}; }; f"
	# edit conflicted file on merge
	edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
	# add conflicted file on merge
	add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
[github]
	user = # Username
[core]
	editor = nano
